

.well {
    width:95%;
    height:20%;
    position:absolute;
    z-index: 5;
    left:2%;    
    border: 1px solid black;
}

.trash-can{
  position:absolute;
  width:3%;
  height:20%;
  left:95%;
  z-index: -2;
  
  background-color:#ff4007;
  
  
}


.glyphicon-trash:before {
    color:#ffffff;
    top: 15%;
    left:11%;
    position: absolute;

}


.spacing{
    padding: 8%;
    position: absolute;
    height:80%;
    width:80%;
}

.image{
	position: absolute;
	background-color: green;
	height:65%;
	width:10%;
  left:2%;
  top:5%;

}

.name {
   font-size:.8em;
   top: 55%;
   left:2%;
   position: absolute;
}

.timeStamp{
   font-size:.7em;
   left:13%;
   top:-10%;
   position: absolute;
}

.message{
   
   left:13%;
   top: 7%;
   position: absolute;
}

.message-highlight{
  height: .8em;
  left:13%;
  top: 7%;
  position: absolute;  
}

.star-false{
   font-size:.8em;
   left:80%;
   top:3%;
   position: absolute;
   border: 1px solid black;
   background-color:white;

}

.star-true {
    font-size:.8em;
    left:80%;
    top:3%;
    position: absolute;    
    background-color:yellow;
    border: 1px solid black;
}

