<div class= 'spacing'  *ngFor= 'let tweets of tweetList ; index as i;' [style.top] = increment(i) >
	<div class = 'well ' >
		<div class = 'image'></div>
		<h3 class = 'name' >{{tweets.name}}</h3>
		<h3 class = 'timeStamp'>Twitter | {{tweets.date}}</h3>
		<div class = 'message-highlight'></div>
		<h3 class = 'message' style= 'font-size:.8em;font-family: sans-serif;'>{{tweets.message}}</h3>
		<div  (click) ='toggle(tweets)' [class.star-true]="tweets.starred" [class.star-false]="!tweets.starred">{{starred(tweets.starred)}}</div>
		<!-- associated -->		
		<div class = 'trash-can glyphicon glyphicon-trash' (click) = 'trash(tweets)'></div>
		<!-- <img class = 'trash-can glyphicon glyphicon-trash' [src]='DomSanitizer.bypassSecurityTrustUrl(image)'/> -->

		<!--however here changing the color can chagne the image although i rather change the font  -->
	</div>
</div>
<canvas></canvas>