.well {
    width:90%;
    height:20%;
    position:absolute;
    z-index: 5;
    left:2%;
    border: 1px solid black;
}

.spacing{
    padding: 8%;
    position: static;
}

.image{
	position: absolute;
	background-color: green;
	height:65%;
	width:10%;
  left:2%;
  top:5%;

}

.name {
   font-size:.8em;
   top: 85%;
   left:2%;
   position: absolute;
}

.timeStamp{
   font-size:.7em;
   left:13%;
   top:5%;
   position: absolute;
}

.message{
   font-size:.8em;
   left:13%;
   top: 35%;
   position: absolute;
}

.star-false{
   font-size:.8em;
   left:87%;
   top:3%;
   position: absolute;
   border: 1px solid black;
   background-color:white;

}

.star-true {
    font-size:.8em;
    left:87%;
    top:3%;
    position: absolute;    
    background-color:yellow;
    border: 1px solid black;
}

